* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.list {
  width: 900px;
  height: auto;
  display: flex;
}

.list .listone,
.list .listtwo,
.list .listtherr {
  width: 200px;
}

.list .listone > ul,
.list .listtwo > ul,
.list .listtherr > ul {
  width: 100%;
  height: auto;
}

.list .listone > ul li,
.list .listtwo > ul li,
.list .listtherr > ul li {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
}
